i {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.svg {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: auto;
}

i.svip_8 {
    margin-left: 2px;
    /* no */
    width: 18px;
    /* no */
    height: 18px;
    /* no */
}

i.vip {
    z-index: 1;
    width: 16px;
    /* no */
    height: 16px;
    /* no */
}


i.vip svg {
    animation: blink 1.4s 3 steps(14) backwards;
}

@keyframes blink {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-224px);
        /* no */
    }
}