i {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.svg {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: auto;
}

i.vip {
    z-index: 1;
}

i.vip svg {
    animation: blink 1.4s 3 steps(14) backwards;
}

i.svip_8 {
    margin-left: 2px;
    /* no */
}