.img-wrap {
    overflow: hidden;
}

.img-wrap:hover {
    position: relative;
    cursor: pointer;
}

.img-wrap:hover::before {
    content: '预览';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
    animation: mask .4s;
}

@keyframes mask {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.35);
    }
}
