/* 评论下的span a */
.ant-comment-content span,
.ant-comment-content a {
    line-height: 20px;
    height: 20px;
    font-size: 12px;
}

/* 评论下的span a */
.ant-comment-content-detail>div:first-child {
    line-height: 20px;
}

/* 折叠评论 */
.ant-comment-actions ul li {
    height: 20px;
    line-height: 20px;
}

/* 一级评论用户头像 */
.ant-comment-avatar {
    margin-right: 10px;
}

/* 评论用户昵称 */
.comment-user-name a,
.comment-user-name a:hover,
/* 折叠评论 */
.ant-comment-actions>li>span.fold-comments {
    color: var(--w-color-orange-3);
}

/* 评论的文本 */
.comment-text {
    color: var(--w-color-gray-1);
}

.comment-text .iconfont,
.comment-text a,
.comment-text span {
    color: var(--w-color-orange-4);
}

.iconfont.icon-zuanshi,
.iconfont.icon-tupian {
    font-size: 16px;
}

/* 评论文本中的表情 */
.comment-text img {
    width: 16px !important;
    height: 16px !important;
    vertical-align: sub !important;
    margin: 0 1px;
}

/* 发布时间、地区 */
.comments-msg {
    color: var(--w-color-gray-2);
    line-height: 20px;
    height: 20px;
}

/* 每条回复的转发按钮 */
.ant-comment-content .operate .icon-zhuanfa {
    font-size: 13px;
}

/* 每条回复的评论、点赞按钮 */
.ant-comment-content .operate .icon-pinglun,
.ant-comment-content .operate .icon-dianzan {
    font-size: 16px;
}

.operate .iconfont {
    color: var(--w-color-gray-3);
    margin-right: 16px;
}

/* 二级评论 */
.ant-comment-content ul {
    margin: 0;
    margin-top: 2px;
}

.ant-comment-actions>li {
    display: block;
}

.ant-comment .ant-comment-inner {
    padding: 6px 0;
}

.reply-inner .ant-comment-inner {
    padding: 0 0 0px 10px;
}

.reply-inner .operate {
    opacity: 0;
    transition: opacity .2s;
}

.ant-comment-content-detail:hover .operate {
    opacity: 1;
}

.reply-inner:before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    border-left: 2px solid var(--w-card-border);
}

/* 折叠评论 */
span.fold-comments>span {
    margin-right: 2px;
}

span.fold-comments>span.icon-zhankai1 {
    display: inline-block;
    /* inline 元素不可缩放 */
    transform: scale(.8, .8);
}

/* 模态框评论 */
.modal-comment .ant-comment-content span.comment-text,
.modal-comment .ant-comment-content span.comment-text a,
.modal-comment .ant-comment-content span.comment-user-name a {
    font-size: 14px;
}

/* 模态框评论下的span a */
.modal-comment .ant-comment-content-detail>div:first-child {
    line-height: 22px;
}