.preview-mask {
    top: 0;
    left: 0;
    background-color: var(--w-mask);
    z-index: 10;
    animation-duration: 300ms;
}
.opacity-1 {
    background-color: var(--w-black);
}
.preview-mask img,
.preview-mask video {
    width: auto;
}
.preview-mask img.preview-img,
.preview-mask video.preview-video {
    transition: transform 0.1s linear;
    mix-blend-mode: unset;
}
.preview-mask img.preview-img.trans-3,
.preview-mask video.preview-video.trans-3 {
    transition: transform 0.3s linear;
}
.preview-mask img.preview-source,
.preview-mask video.preview-source {
    transition: transform 0.1s linear;
    mix-blend-mode: unset;
}
.preview-mask img.no-trans,
.preview-mask video.no-trans {
    transition: transform 0s linear;
}
.preview-mask .mask-foot {
    background-color: rgba(0, 0, 0, 0.15);
    bottom: 0;
}
.mask-head {
    height: 0;
    line-height: 1.5;
}
.progress {
    display: inline-block;
    line-height: 1.5;
    transform: scale(0.8);
    color: var(--w-color-gray-9);
    user-select: none;
    -webkit-user-select: none;
    top: 10px; /* no */
    left: 50%;
    transform: translateX(-50%);
}
.toggle-btn {
    text-align: center;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
}
.left-btn {
    left: 0;
}
.right-btn {
    right: 0;
}
.mask-foot > div {
    height: 60px; /* no */
    flex-grow: 0;
    flex-shrink: 0;
    margin: 5px 0; /* no */
}
.mask-foot .img-mask {
    border: 2px solid var(--w-color-orange-1);
    box-sizing: border-box;
}
.mask-foot .img-wrap {
    margin: 4px;
}
.preview-mask .mask-foot img {
    width: 100%;
}
.mask-head .iconfont {
    font-size: 22px; /* no */
    float: right;
    padding: 0 15px; /* no */
    color: var(--w-pophover-background);
    cursor: pointer;
}
.mask-head .download {
    float: left;
}
.toggle-btn span {
    line-height: 45px; /* no */
}
.toggle-btn {
    width: 45px; /* no */
    height: 45px; /* no */
}
.save {
    background-color: var(--w-mask);
    animation-duration: 0.3s;
}
.save button {
    width: 80%;
    height: 100px;
    border-radius: 14px; /* no */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.save .ant-btn:hover,
.save .ant-btn:focus {
    color: rgba(0, 0, 0, 0.85);
    border-color: #d9d9d9;
    background-color: var(--w-color-light);
    transition: all 0.3s;
}
.save .save-btn-style:hover,
.save .save-btn-style:focus {
    background-color: #d9d9d9;
}
.view-source {
    transition: transform 0.2s linear;
    .img-wrap {
        > video {
            mix-blend-mode: unset;
        }
        > img.yr-img,
        > video.yr-video,
        > i.i-svg {
            position: unset;
            width: 100%;
            height: auto;
            transform: unset;
        }
    }
}
.view-source.no-trans {
    transition: transform 0s linear;
}
.img-group .view-source .img-wrap {
    margin: 0;
    float: left;
}
