.preview-mask {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.preview-mask img.preview-img {
    height: 85%;
    bottom: unset;
    transition: transform .2s linear;
}

.preview-mask img.no-trans {
    transition: transform 0s linear;
}

.preview-mask .mask-foot {
    height: 15%;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
}

.mask-head {
    display: inline-block;
    height: 50px;
    top: 0;
    right: 0;
    margin-right: 15px;
}

.mask-head span.iconfont {
    float: right;
    color: var(--w-color-gray-9);
    font-size: 22px;
    line-height: 50px;
    padding: 2px;
    cursor: pointer;
    margin: 0 15px;
}

.mask-head span.icon-fangda,
.mask-head span.icon-suoxiao {
    font-size: 20px;
}

.progress {
    line-height: 50px;
    color: var(--w-color-gray-9);
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}

.toggle-btn {
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.toggle-btn span {
    font-size: 20px;
    line-height: 45px;
}

.toggle-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}