.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-row-center {
    justify-content: center;
}

.flex-col-center {
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.overflow-hid {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.w-v-full {
    width: 100vw;
}

.h-v-full {
    height: 100vh;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.vertical-m {
    vertical-align: middle;
}

.w-8r {
    width: 80%;
}

.w-50 {
    width: 50px;
}

.w-100 {
    width: 100px;
}

.w-200 {
    width: 200px;
}

.h-50 {
    height: 50px;
}

.h-100 {
    height: 100px;
}

.h-200 {
    height: 200px;
}

.wh-50 {
    width: 50px;
    height: 50px;
}

.wh-100 {
    width: 100px;
    height: 100px;
}

.wh-200 {
    width: 200px;
    height: 200px;
}

.margin-0 {
    margin: 0px;
}

.margin-2 {
    margin: 2px;
}

.margin-4 {
    margin: 4px;
}

.margin-6 {
    margin: 6px;
}

.margin-8 {
    margin: 8px;
}

.margin-10 {
    margin: 10px;
}

.margin-t-0 {
    margin-top: 0px;
}

.margin-t-2 {
    margin-top: 2px;
}

.margin-t-4 {
    margin-top: 4px;
}

.margin-t-6 {
    margin-top: 6px;
}

.margin-t-8 {
    margin-top: 8px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-r-0 {
    margin-right: 0px;
}

.margin-r-2 {
    margin-right: 2px;
}

.margin-r-4 {
    margin-right: 4px;
}

.margin-r-6 {
    margin-right: 6px;
}

.margin-r-8 {
    margin-right: 8px;
}

.margin-r-10 {
    margin-right: 10px;
}

.margin-b-0 {
    margin-bottom: 0px;
}

.margin-b-2 {
    margin-bottom: 2px;
}

.margin-b-4 {
    margin-bottom: 4px;
}

.margin-b-6 {
    margin-bottom: 6px;
}

.margin-b-8 {
    margin-bottom: 8px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-l-0 {
    margin-left: 0px;
}

.margin-l-2 {
    margin-left: 2px;
}

.margin-l-4 {
    margin-left: 4px;
}

.margin-l-6 {
    margin-left: 6px;
}

.margin-l-8 {
    margin-left: 8px;
}

.margin-l-10 {
    margin-left: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-30 {
    font-size: 30px;
}

.line-14 {
    line-height: 14px;
}

.line-20 {
    line-height: 20px;
}

.line-22 {
    line-height: 22px;
}

.line-25 {
    line-height: 25px;
}

.line-32 {
    line-height: 32px;
}

.line-38 {
    line-height: 38px;
}

.line-48 {
    line-height: 48px;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}

.weight-900 {
    font-weight: 900;
}



.padding-2 {
    padding: 2px;
}

.padding-t-2 {
    padding-top: 2px;
}

.padding-r-2 {
    padding-right: 2px;
}

.padding-b-2 {
    padding-bottom: 2px;
}

.padding-l-2 {
    padding-left: 2px;
}

.padding-4 {
    padding: 4px;
}

.padding-t-4 {
    padding-top: 4px;
}

.padding-r-4 {
    padding-right: 4px;
}

.padding-b-4 {
    padding-bottom: 4px;
}

.padding-l-4 {
    padding-left: 4px;
}

.padding-6 {
    padding: 6px;
}

.padding-t-6 {
    padding-top: 6px;
}

.padding-r-6 {
    padding-right: 6px;
}

.padding-b-6 {
    padding-bottom: 6px;
}

.padding-l-6 {
    padding-left: 6px;
}

.padding-20 {
    padding: 20px;
}

.padding-t-20 {
    padding-top: 20px;
}

.padding-r-20 {
    padding-right: 20px;
}

.padding-b-20 {
    padding-bottom: 20px;
}

.padding-l-20 {
    padding-left: 20px;
}

.padding-0 {
    padding: 0;
}

.padding-t-0 {
    padding-top: 0;
}

.padding-r-0 {
    padding-right: 0;
}

.padding-b-0 {
    padding-bottom: 0;
}

.padding-l-0 {
    padding-left: 0;
}

.ie-box {
    box-sizing: border-box;
}

.base-box {
    box-sizing: content-box;
}

.transition-3r {
    transition: all .3s;
}

.transition-2r {
    transition: all .2s;
}

.transition-1r {
    transition: all .1s;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.align-center {
    text-align: center;
}

.absolute-center {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.margin-x-auto {
    margin: 0 auto;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.collapse::after {
    content: '';
    display: block;
    clear: both;
}

.w-sub {
    color: var(--w-sub);
}

.w-main {
    color: var(--w-main);
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}