@media screen and (min-width: 0px) and (max-width: 280px) {

    /* 评论文本中的表情 */
    .comment-text img,
    .text img {
        width: 20px !important;
        /* no */
        height: 20px !important;
        /* no */
    }

    i.svip_8 {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 281px) and (max-width: 375px) {

    /* 评论文本中的表情 */
    .comment-text img,
    .text img {
        width: 20px !important;
        /* no */
        height: 20px !important;
        /* no */
    }
}

@media screen and (min-width: 376px) and (max-width: 450px) {

    /* 评论文本中的表情 */
    .comment-text img,
    .text img {
        width: 20px !important;
        /* no */
        height: 20px !important;
        /* no */
    }
}

@media screen and (min-width: 451px) and (max-width: 540px) {

    .comment-text img,
    .text img {
        width: 20px !important;
        /* no */
        height: 20px !important;
        /* no */
    }
}

@media screen and (min-width: 541px) and (max-width: 750px) {

    .comment-text img,
    .text img {
        width: 20px !important;
        /* no */
        height: 20px !important;
        /* no */
    }
}

@media (max-width: 750px) {
    main {
        margin: 0;
    }

    .ant-layout-header .iconfont {
        font-size: 100px;
    }

    .ant-layout-header,
    .ant-layout-footer {
        line-height: 120px;
        height: 120px;
    }

    main::before,
    main::after {
        height: 120px;
    }

    .ant-layout-header ul {
        line-height: 120px;
        height: 120px;
    }

    .back {
        top: 120px;
    }

    .blog {
        padding: 44px;
    }

    .ant-avatar {
        width: 40px;
        /* no */
        height: 40px;
        /* no */
    }

    .v {
        width: 12px;
        /* no */
        height: 12px;
        /* no */
    }

    .ant-comment {
        margin-top: 10px;
    }

    .reply-inner {
        margin-top: 20px;
    }

    .operate .iconfont {
        margin-right: 44px;
    }

    /* 模态框 */
    .ant-modal-header {
        padding: 30px 50px 0;
    }

    .ant-modal-close {
        top: 30px;
        right: 50px;
        padding: 0 30px;
    }

    /* PreviewMask */
    .mask-head {
        padding: 0 30px 0 250px;
        margin-top: 30px;
    }

    .progress {
        left: 54px;
        top: 30px;
    }

    .mask-head .iconfont {
        text-align: center;
        margin: 0 50px;
    }

    .mask-head {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .mask-head .iconfont {
        flex: 1;
    }

    .toggle-btn span {
        line-height: 120px;
    }

    .toggle-btn {
        width: 120px;
        height: 120px;
    }

    .left-btn {
        margin-left: 60px;
    }

    .right-btn {
        margin-right: 60px;
    }

    /* SvgIcon */
    i.vip {
        width: 12px;
        /* no */
        height: 12px;
        /* no */
    }

    @keyframes blink {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-168px);
            /* no */
        }
    }
}

@media screen and (min-width: 751px) {
    body {
        min-width: 600px;
    }

    main {
        margin-left: 300px;
        margin-right: 100px;
    }

    .ant-layout-header .iconfont {
        font-size: 30px;
    }

    .ant-layout-header,
    .ant-layout-footer {
        line-height: 50px;
        height: 50px;
    }

    main::before,
    main::after {
        height: 50px;
    }

    .ant-layout-header ul {
        line-height: 50px;
        height: 50px;
    }

    .back {
        top: 50px;
    }

    .blog {
        padding: 20px;
    }

    .blog-content {
        margin-left: 50px;
        /* no */
        padding-left: 10px;
    }

    .ant-avatar {
        width: 50px;
        /* no */
        height: 50px;
        /* no */
    }

    .v {
        width: 15px;
        /* no */
        height: 15px;
        /* no */
    }

    .operate .iconfont {
        margin-right: 16px;
        /* no */
    }

    .ant-modal-close {
        top: 10px;
        right: 20px;
        padding: 0 4px;
    }

    /* 模态框 */
    .ant-modal-header {
        padding: 10px 20px;
        /* no */
    }

    .comment-text img,
    .text img {
        width: 18px !important;
        /* no */
        height: 18px !important;
        /* no */
    }

    /* PreviewMask */
    .mask-head .iconfont {
        font-size: 22px;
        /* no */
    }

    .mask-head .iconfont {
        float: right;
        padding: 0 15px;
        /* no */
    }

    .mask-head .download {
        float: left;
    }

    .progress {
        top: 10px;
        /* no */
        left: 50%;
        transform: translateX(-50%);
    }

    .toggle-btn span {
        line-height: 45px;
        /* no */
    }

    .toggle-btn {
        width: 45px;
        /* no */
        height: 45px;
        /* no */
    }

    /* SvgIcon */
    i.svip_8 {
        width: 18px;
        /* no */
        height: 18px;
        /* no */
    }

    i.vip {
        width: 15px;
        /* no */
        height: 15px;
        /* no */
    }

    @keyframes blink {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-210px);
            /* no */
        }
    }
}

@media screen and (min-width: 900px) {
    .blog {
        padding: 20px;

    }

    .blog,
    .end,
    .back {
        min-width: 400px;
        /* no */
        max-width: 640px;
        /* no */
    }
}

/* other screen */
@media screen and (min-width: 281px) and (max-width: 750) {
    i.svip_8 {
        width: 60px;
        height: 60px;
    }
}