@font-face {
  font-family: "iconfont"; /* Project id 3722818 */
  src: url('iconfont.woff2?t=1666435823843') format('woff2'),
       url('iconfont.woff?t=1666435823843') format('woff'),
       url('iconfont.ttf?t=1666435823843') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibohuiyuan:before {
  content: "\e667";
}

.icon-renzheng:before {
  content: "\e6a8";
}

.icon-pinglun:before {
  content: "\e600";
}

.icon-dianzan:before {
  content: "\e601";
}

.icon-zhuanfa:before {
  content: "\e602";
}

