@media screen and (min-width: 0px) and (max-width: 280px) {
  .iconfont {
    font-size: 16px;
    /* no */
  }
}

@media screen and (min-width: 281px) and (max-width: 750px) {
  .iconfont {
    font-size: 22px;
    /* no */
  }
}

@media (min-width: 751px) {
  .iconfont {
    font-size: 20px;
    /* no */
  }
}

/* .iconfont.icon-lianjie { */
  /* font-size: 12px; */
  /* no */
/* } */

/* .iconfont.icon-shipin { */
  /* font-size: 14px; */
  /* no */
/* } */

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff2?t=1673093910374') format('woff2'),
    url('iconfont.woff?t=1673093910374') format('woff'),
    url('iconfont.ttf?t=1673093910374') format('truetype');
}


.icon-31zhuanfa:before {
  content: "\e603";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-zuanshi:before {
  content: "\e684";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-zhankai1:before {
  content: "\e668";
}

.icon-xiazai-wenjianxiazai-05:before {
  content: "\e855";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-quxiaoquanping_huaban:before {
  content: "\e624";
}

.icon-quanping:before {
  content: "\e63f";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-suoxiao:before {
  content: "\ec13";
}

.icon-fangda:before {
  content: "\ec14";
}

.icon-24gl-delete:before {
  content: "\eb03";
}

.icon-rotate-left:before {
  content: "\eb04";
}

.icon-rotate-right:before {
  content: "\eb05";
}

.icon-shipin:before {
  content: "\e617";
}

.icon-lianjie:before {
  content: "\e61c";
}

.icon-pinglun:before {
  content: "\e600";
}

.icon-dianzan:before {
  content: "\e601";
}