@font-face {
  font-family: "iconfont"; /* Project id 3722818 */
  src: url('iconfont.woff2?t=1667491370105') format('woff2'),
       url('iconfont.woff?t=1667491370105') format('woff'),
       url('iconfont.ttf?t=1667491370105') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiaoquanping_huaban:before {
  content: "\e624";
}

.icon-quanping:before {
  content: "\e63f";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-suoxiao:before {
  content: "\ec13";
}

.icon-fangda:before {
  content: "\ec14";
}

.icon-24gl-delete:before {
  content: "\eb03";
}

.icon-rotate-left:before {
  content: "\eb04";
}

.icon-rotate-right:before {
  content: "\eb05";
}

.icon-shipin:before {
  content: "\e617";
}

.icon-lianjie:before {
  content: "\e61c";
}

.icon-weibohuiyuan:before {
  content: "\e667";
}

.icon-renzheng:before {
  content: "\e6a8";
}

.icon-pinglun:before {
  content: "\e600";
}

.icon-dianzan:before {
  content: "\e601";
}

.icon-zhuanfa:before {
  content: "\e602";
}

