/* 主题 */
:root {
  --w-color-light: #fff;
  --w-color-gray-1: #333;
  --w-color-gray-2: #939393;
  --w-color-gray-3: #838383;
  --w-color-gray-4: #f2f2f5;
  --w-color-gray-5: #fbfbfb;
  --w-color-gray-6: #f0f1f4;
  --w-color-gray-7: #ccc;
  --w-color-gray-8: #e9e9e9;
  --w-color-gray-9: #f8f8fb;
  --w-color-gray-10: #dfe1e8;
  --w-color-orange-1: #ff8200;
  --w-color-orange-2: #ff5900;
  --w-color-orange-3: #eb7350;
  --w-color-orange-4: #eb7340;
  --w-color-red: #e14123;
  --w-color-red-2: red;
  --w-base-font-size: 16;
  --w-gap: 0.5rem;
  --w-border-radius: 0.25rem;
  --w-border-radius-l: 0.5rem;
  --w-index-layer: 9999;
  --w-index-mask: 999;
  --w-index-nav: 99;
  --w-index-flow: 9;
  --w-brand: var(--w-color-orange-1);
  --w-brand-hover: var(--w-color-orange-2);
  --w-main: var(--w-color-gray-1);
  --w-sub: var(--w-color-gray-2);
  --w-hover: rgba(255, 130, 0, 0.1);
  --w-contrast: var(--w-color-light);
  --w-error: var(--w-color-red-2);
  --w-fonticon: var(--w-color-gray-3);
  --w-disabled: var(--w-color-gray-7);
  --w-alink: var(--w-color-orange-3);
  --w-special: var(--w-color-red);
  --w-retweet-background: #f9f9f9;
  --w-repost-background: #f2f2f2;
  --w-card-background: var(--w-color-light);
  --w-input-background: var(--w-color-gray-6);
  --w-drop-background: var(--w-color-gray-6);
  --w-pophover-background: var(--w-color-gray-9);
  --w-whitebtn-background: rgba(0, 0, 0, 0.2);
  --w-dividing-line: #f9f9f9;
  --w-card-border: #f2f2f2;
  --w-layer-border: var(--w-color-gray-8);
  --w-image-border: rgba(0, 0, 0, 0.05);
  --w-off-border: var(--w-color-gray-8);
  --w-tip-icon-size: 1rem;
  --w-tip-border: rgba(0, 0, 0, 0.1);
  --w-tip-error-bg: rgba(255, 237, 219, 0.95);
  --w-tip-warn-bg: #daeeff;
  --w-tip-warn: #507daf;
}