.blog {
    padding-bottom: 0;
}

.img-group .img-wrap {
    margin: 2px;
    /* no */
    display: flex;
}

.ant-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.ant-image-mask {
    cursor: zoom-in;
}

.ant-image-img {
    height: 100%;
    object-fit: cover;
}

.gray-1 {
    color: var(--w-color-gray-1);
}

.gray-2 {
    color: var(--w-color-gray-2);
}

.screen-name:hover {
    color: var(--w-alink);
}

.avatar {
    display: block;
    position: relative;
}

.avatar:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    /* no */
    height: 50px;
    /* no */
    border-radius: 50%;
    background-color: var(--w-tip-border);
}

.v {
    position: absolute;
    right: 2px;
    /* no */
    bottom: 0px;
    /* no */
}

.icon-renzheng {
    font-size: 15px;
    /* no */
    color: var(--w-color-red);
    border-radius: 50%;
    background-color: #FEFF5D;
}

.icon-weibohuiyuan::before {
    position: relative;
    top: -2px;
    /* no */
    left: -5px;
    /* no */
}

.surl-text,
.text a {
    color: var(--w-color-orange-4);
}

.surl-text:hover {
    text-decoration: none;
}

.source {
    color: var(--w-tip-warn);
}

.text img {
    vertical-align: sub !important;
    margin: 0 2px;
    /* no */
}

.text a.birthday {
    position: relative;
}

a.birthday div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.text a.birthday img {
    position: absolute;
    width: 110% !important;
    height: auto !important;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.birthday-text {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    font-size: 16px;
    /* no */
    color: var(--w-color-orange-1);
    text-decoration: none;
    text-align: center;
}

.birthday-text:hover {
    text-decoration: none;
}

.birthday video {
    width: 100%;
    height: auto;
}