.blog-content {
    padding-left: 60px;
}

.blog {
    min-width: 400px;
    max-width: 640px;
}

.pic-wrap {
    margin: 2px;
    aspect-ratio: 1/1;
    display: flex;
}

.ant-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.ant-image-mask {
    cursor: zoom-in;
}

.ant-image-img {
    height: 100%;
    object-fit: cover;
}

.gray-1 {
    color: var(--w-color-gray-1);
}

.gray-2 {
    color: var(--w-color-gray-2);
}

.screen-name:hover {
    color: var(--w-alink);
}

.avatar {
    position: relative;
}

.avatar:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--w-tip-border);
}

.blog-foot>div:hover>span {
    color: var(--w-brand-hover);
}

.v {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0px;
    bottom: 16px;

}

.icon-renzheng {
    font-size: 15px;
    color: var(--w-color-red);
    border-radius: 50%;
    background-color: #FEFF5D;
}

.icon-weibohuiyuan {
    width: 14px;
    height: 16px;
    color: var(--w-color-light);
    background-color: var(--w-color-orange-3);
}

.icon-weibohuiyuan::before {
    position: relative;
    top: -2px;
    left: -5px;
}

.surl-text,
.text a {
    color: var(--w-color-orange-4);
}

.surl-text:hover {
    text-decoration: underline;
}

.source {
    color: var(--w-tip-warn);
}