html,
body {
    height: 100%;
}

/* 灰色主题 */
/* html {
    filter: grayscale(100%);
} */

body {
    min-width: 600px;
}

p {
    margin: 0;
}

* {
    box-sizing: content-box;
    transition: color .2s;
}

main {
    margin-left: 300px;
    margin-right: 100px;
}

.ant-layout-header {
    background-color: white;
}

.ant-layout-header .ant-menu-title-content {
    margin: 0;
}

.ant-layout-header .iconfont {
    font-size: 30px;
    color: var(--w-brand);
}

.ant-layout-header,
.ant-layout-footer {
    line-height: 50px;
    height: 50px;
    z-index: 2;
}

.ant-layout-footer {
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.ant-layout-header ul {
    line-height: 50px;
    height: 50px;
}

.ant-layout-header ul li span {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

main::before,
main::after {
    content: '';
    display: block;
    height: 50px;
}