body {
    min-width: 600px;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

p {
    margin: 0;
}

* {
    box-sizing: content-box;
    transition: color .2s;
}

main {
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: calc(100vh - 100px);
}

.app {
    overflow-y: auto;
}

.ant-layout-header {
    background-color: white;
}

.app .ant-layout-header .ant-menu-title-content {
    margin: 0;
}

.app .ant-layout-header .iconfont {
    font-size: 30px;
    color: var(--w-color-orange-1);
}

.app .ant-layout-header,
.app .ant-layout-footer {
    line-height: 50px;
    height: 50px;
    z-index: 2;
}

.app .ant-layout-footer {
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.app .ant-layout-header ul {
    line-height: 50px;
    height: 50px;
}