body {
    min-width: 600px;
}

html,
body {
    overflow: hidden;
}

p {
    margin: 0;
}

* {
    box-sizing: content-box;
    transition: color .2s;
}

main {
    margin-left: 300px;
    margin-right: 100px;
}

.app {
    overflow-y: auto;
}